/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
        background-image: url('https://bloximages.newyork1.vip.townnews.com/news-journal.com/content/tncms/assets/v3/editorial/e/10/e10fb358-ee58-11ec-bb04-8bf949ccbbc4/62aca8ec33463.image.jpg?resize=767%2C500');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 343px;
        margin: 0;
        text-align: center;
}

   


#title {
        width: 425px;
        height: 45px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 118px;
        border-radius: 10px;
        background: #457B9D;
}
#hero-text-1 {
    
        padding: 5px 12px 5px 12px;
        color: #FFF;
        text-align: center;
        font-family: Arial;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal
}

#tagline {
        width: 350px;
        height: 39px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 10px;
        background: #1D3557;
        margin-bottom: 200px;
}
#hero-text-2 {
        padding: 10px 12px 5px 12px;
        color: #FFF;
        text-align: center;
        font-family: Arial;
        font-size: 18.72px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

}

img {
    width: 100px;
}
#activities {
    margin-top: 285px;
}
